/* Theme */

main {
	background-image: url(../../media/light-biren.jpg);
	background-size: cover;
	color:#FFFFFF;

}

.icons-social a {
	color: #FFFFFF;
	text-decoration: none;

}

.icons-social a::after{

	content:"";
	width: 0%;
	height: 2px;
	background: #FFFFFF;
	display: block;
	margin: auto;
	transition: 1s;
}
.icons-social a:hover::after{
	width: 5%;
}